# Ignore files from the Athey & Imbens (2006) paper
script/cdf_bar.m
script/cdf.m
script/cdfinv_bracket.m
script/cdfinv.m
script/cic_con.m
script/cic_dci.m
script/cic_low.m
script/cic_program_documentation.pdf
script/cic_upp.m
script/cic.m
script/cumdf.m
script/cumdfinv.m
script/fden.m
script/gen.m
script/main_mvd_05dec19.m
script/main_sim_05dec19_continue.m
script/main_sim_05dec19_start.m
script/mvd.dat
script/ols.m
script/out_sim_05dec19.mat
script/prob.m
script/sim_theory.m
script/supp.m
script/table123.mat

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
